.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 30px 16px;
}

.PointRecords {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.LearnMoreButton {
    width: 220px;
}

.TitlePic {
    align-self: flex-start;
}
