.TabContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 24px 12px;
    flex-direction: column;
}

.MembershipInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.CardPreview {
    width: 366px;
    border-radius: 6px;
    overflow: hidden;
}

.MembershipInfoDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.ActionIconsGroup {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.ActionIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 20px;
    line-height: 23px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #FFFFFF;
}

.PaymentMenu {
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 6px;
}

.PaymentMenuItemSeperator {
    border: 1px solid #E0E0E0;
    width: 90%;
}

.PaymentMenuItem {
    margin: 16px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.PaymentMenuItem_UseMoneyToggleSection {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
}
