.Banner {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: #f8f8f8;
    padding: 0 12px;
}

.RightSection {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    width: 128px;
    height: 24px;
}

.menu {
    width: 18px;
    height: 12px;
}

.notification {
    width: 25px;
    height: 22px;
}
