.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #F1F1F1;
}

.ProfilePicSectionExpanded {
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
    background: #F8F8F8;
    width: 100%;
    padding-top: 19px;
    padding-bottom: 21px;
}

.ProfilePic {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #D9D9D9;
}

.TabBarSection {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 24px;
    padding-left: 17px;
    padding-right: 17px;
    overflow: scroll;
    position: sticky;
    top: 0;
    background: #F8F8F8;
}

.TabBarItem {
    flex-shrink: 0;
    padding: 10px 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.tabBarItemUnselected {
    color: #B9B9B9;
}
