.TabBar {
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background: #f7f7f8;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ButtonImage {
    height: 28px;
    width: 31px;
}

.CurrentSelected {
    filter: invert(57%) sepia(93%) saturate(4490%) hue-rotate(204deg) brightness(100%) contrast(91%);
}
