.TabBar {
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background: #f7f7f8;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

.ButtonImage {
    height: 28px;
    width: 31px;
}

.CurrentSelected {
    filter: invert(57%) sepia(93%) saturate(4490%) hue-rotate(204deg) brightness(100%) contrast(91%);
}
